footer#footer
  ul.actions
    li
      a.icon.fa-facebook(href='https://facebook.com/stifixid')
        span.label Facebook
    li
      a.icon.fa-twitter(href='https://twitter.com/stifixid')
        span.label Twitter
    li
      a.icon.fa-google-plus(href='https://plus.google.com/+Stifix')
        span.label Google Plus
    li
      a.icon.fa-envelope(href='mailto:stifan.kristi@stifix.com')
        span.label Email
  ul.menu
    li #{ locals.home.footer.copyright }
