.avoid_pagebreak
  h4 #{ locals.resume.specialities.title }
  ul.inline-list.special.first.last
    li.animated.fadeInDown
      i.fi-laptop
      .pointer.hide-for-small-only
      .desc Various Hardware
    li.animated.fadeInUp
      i.fi-cloud
      .pointer.hide-for-small-only.second
      .desc Various Environment
    li.animated.fadeInLeft
      i.fi-social-windows
      .pointer.hide-for-small-only
      .desc Various OS
