.avoid_pagebreak
  h4 #{ locals.resume.education.title }
  .edu_surround
    .edu.animated
      .edu_item
        .date #{ locals.resume.education.date }
        .topic #{ locals.resume.education.topic }
        .school #{ locals.resume.education.school }
