.avoid_pagebreak
  h4 #{ locals.resume.computer_skills.title }
  .row.design
    .large-7.columns.animated.fadeIn
      h6 1. Computer
      ul.small-block-grid-2
        li.name Server
        li
          ul.small-block-grid-8.ellipses
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span.grey
      ul.small-block-grid-2
        li.name Network
        li
          ul.small-block-grid-8.ellipses
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span.grey
      ul.small-block-grid-2
        li.name Storage
        li
          ul.small-block-grid-8.ellipses
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span.grey
      ul.small-block-grid-2
        li.name OS
        li
          ul.small-block-grid-8.ellipses
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span.grey
      ul.small-block-grid-2
        li.name Cloud
        li
          ul.small-block-grid-8.ellipses
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span.grey
      ul.small-block-grid-2
        li.name Virtualization
        li
          ul.small-block-grid-8.ellipses
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span.grey
      ul.small-block-grid-2
        li.name Security
        li
          ul.small-block-grid-8.ellipses
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span.grey
      ul.small-block-grid-2
        li.name Development
        li
          ul.small-block-grid-8.ellipses
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span.grey
            li
              span.grey
      ul.small-block-grid-2
        li.name Design
        li
          ul.small-block-grid-8.ellipses
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span
            li
              span.grey
            li
              span.grey
            li
              span.grey
    .large-5.columns.animated.fadeIn
      h6 2. Management
      .name Project
      .name Systems
      .name Configuration
      .name Quality
      .name Security
      .name Asset
      .name Content
      .name Team
      .name Learning
      .name Environment
