section.main.style3.secondary
  .content.container
    header
      h2 #{ locals.thanks.content.title }
    p
      | #{ locals.thanks.content.description }
    span.fa-stack.fa-3x
      i.fa.fa-circle-thin.fa-stack-2x
      i.fa.fa-linux.fa-stack-1x
    span.fa-stack.fa-3x
      i.fa.fa-circle-thin.fa-stack-2x
      i.fa.fa-apple.fa-stack-1x
    span.fa-stack.fa-3x
      i.fa.fa-circle-thin.fa-stack-2x
      i.fa.fa-windows.fa-stack-1x
    span.fa-stack.fa-3x
      i.fa.fa-circle-thin.fa-stack-2x
      i.fa.fa-mobile.fa-stack-1x
    span.fa-stack.fa-3x
      i.fa.fa-circle-thin.fa-stack-2x
      i.fa.fa-laptop.fa-stack-1x
    span.fa-stack.fa-3x
      i.fa.fa-circle-thin.fa-stack-2x
      i.fa.fa-desktop.fa-stack-1x
    span.fa-stack.fa-3x
      i.fa.fa-circle-thin.fa-stack-2x
      i.fa.fa-server.fa-stack-1x
    span.fa-stack.fa-3x
      i.fa.fa-circle-thin.fa-stack-2x
      i.fa.fa-cloud.fa-stack-1x
    .12u
      ul.actions
        li
          a.button(href='/') #{ locals.thanks.content.buttontext }
