<!-- what_we_do -->
{% assign what_we_do = site.data.home.what_we_do %}
<section id="what_we_do" class="info main style2 dark fullscreen right" style="background-image:url(assets/images/overlay.png),url(assets/images/{{ what_we_do.picture }} );">
	<div class="content box style2">
		<header>
			<h2>{{ what_we_do.title }}</h2>
		</header>
			<p>
				{{ what_we_do.description }}
			</p>
	</div>
	<a href="{{ what_we_do.buttonlink }}" class="button style2 down anchored">{{ what_we_do.buttontext }}</a>
</section>