{% assign computer_skills = site.data.resume.computer_skills %}
<div class=avoid_pagebreak>
<h4>{{ computer_skills.title }}</h4>
<div class="row design">
<div class="large-7 columns animated fadeIn">
<h6>{{ computer_skills.sub_title_0 }}</h6>
<ul class=small-block-grid-2>
<li class=name>Server</li>
<li>
<ul class="small-block-grid-8 ellipses">
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span class=grey></span></li>
</ul>
</li>
</ul>
<ul class=small-block-grid-2>
<li class=name>Network</li>
<li>
<ul class="small-block-grid-8 ellipses">
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span class=grey></span></li>
</ul>
</li>
</ul>
<ul class=small-block-grid-2>
<li class=name>Storage</li>
<li>
<ul class="small-block-grid-8 ellipses">
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span class=grey></span></li>
</ul>
</li>
</ul>
<ul class=small-block-grid-2>
<li class=name>OS</li>
<li>
<ul class="small-block-grid-8 ellipses">
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span class=grey></span></li>
</ul>
</li>
</ul>
<ul class=small-block-grid-2>
<li class=name>Cloud</li>
<li>
<ul class="small-block-grid-8 ellipses">
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span class=grey></span></li>
</ul>
</li>
</ul>
<ul class=small-block-grid-2>
<li class=name>Virtualization</li>
<li>
<ul class="small-block-grid-8 ellipses">
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span class=grey></span></li>
</ul>
</li>
</ul>
<ul class=small-block-grid-2>
<li class=name>Security</li>
<li>
<ul class="small-block-grid-8 ellipses">
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span class=grey></span></li>
</ul>
</li>
</ul>
<ul class=small-block-grid-2>
<li class=name>Development</li>
<li>
<ul class="small-block-grid-8 ellipses">
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span class=grey></span></li>
<li><span class=grey></span></li>
</ul>
</li>
</ul>
<ul class=small-block-grid-2>
<li class=name>Design</li>
<li>
<ul class="small-block-grid-8 ellipses">
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
<li><span class=grey></span></li>
<li><span class=grey></span></li>
<li><span class=grey></span></li>
</ul>
</li>
</ul>
</div>
<div class="large-5 columns animated fadeIn">
<h6>{{ computer_skills.sub_title_1 }}</h6>
<div class=name>Project</div>
<div class=name>Systems</div>
<div class=name>Configuration</div>
<div class=name>Quality</div>
<div class=name>Security</div>
<div class=name>Asset</div>
<div class=name>Content</div>
<div class=name>Team</div>
<div class=name>Learning</div>
<div class=name>Environment</div>
</div>
</div>
</div>