{% assign head = site.data.resume.head %}
<head>
<title>Resume | {{ site.data.resume.header.name }}</title>
<meta charset="{{ head.charset }}" />
<meta name="content-language" content="{{ head.content-language }}">
<meta name="viewport" content="{{ head.viewport }}">
<meta name="robots" content="{{ head.robots }}">
<meta name="description" content="{{ head.description }}">
<meta name="keywords" content="{{ head.keywords }}" />
<meta name="author" content="{{ head.author }}">
<meta name="google-site-verification" content="{{ head.google-site-verification }}">
<meta name="og:title" property="og:title" content="{{ head.og-title }}" />
<meta name="og:type" property="og:type" content="{{ head.og-type }}" />
<meta name="og:site_name" property="og:site_name" content="{{ head.og-site_name }}" />
<meta name="og:description" property="og:description" content="{{ head.og-description }}" />
<meta name="og:url" property="og:url" content="{{ head.og-url }}" />
<meta name="og:image" property="og:image" content="{{ head.og-image }}" />
<meta name="fb:app_id" property="fb:app_id" content="{{ head.fb-app_id }}" />
<meta name="twitter:card" property="twitter:card" content="{{ head.twitter-card }}" />
<meta name="twitter:site" property="twitter:site" content="{{ head.twitter-site }}" />
<meta name="twitter:title" property="twitter:title" content="{{ head.twitter-title }}" />
<meta name="twitter:description" property="twitter:description" content="{{ head.twitter-description }}" />
<meta name="twitter:url" property="twitter:url" content="{{ head.twitter-url }}" />
<meta name="twitter:image" property="twitter:image" content="{{ head.twitter-image }}" />
<link rel="shortcut icon" href="{{ site.icon }}" type="image/x-icon">
<link href="assets/css/resume-style.min.css" type="text/css" rel=stylesheet />
<link href="assets/css/resume-print.min.css" rel=stylesheet type="text/css" media=print />
</head>