{% assign language_skills = site.data.resume.language_skills %}
<div class=avoid_pagebreak>
<h4>{{ language_skills.title }}</h4>
<div class="row lang">
<div class="large-4 medium-4 small-6 columns">
<ul data-pie-id=lang1 class=pie_desc data-options='{"donut_inner_ratio":"0.8"}'>
<li data-value=100>
<div class=lang_info>
	<span class=lang_name>{{ language_skills.sub_title_0 }}</span>
	<span class=lang_level>{{ language_skills.sub_level_0 }}</span>
</div>
</li>
</ul>
<div id=lang1 class="pie nostroke animated bounceIn"></div>
</div>
<div class="large-4 medium-4 small-6 columns">
<ul data-pie-id=lang2 class=pie_desc>
<li data-value=75>
<div class=lang_info>
	<span class=lang_name>{{ language_skills.sub_title_1 }}</span>
	<span class=lang_level>{{ language_skills.sub_level_1 }}</span>
</div>
</li>
<li data-value=25></li>
</ul>
<div id=lang2 class="pie  animated bounceIn"></div>
</div>
<div class="large-4 medium-4 small-6 columns">
<ul data-pie-id=lang3 class=pie_desc>
<li data-value=50>
<div class=lang_info>
	<span class=lang_name>{{ language_skills.sub_title_2 }}</span>
	<span class=lang_level>{{ language_skills.sub_level_2 }}</span>
</div>
</li>
<li data-value=50></li>
</ul>
<div id=lang3 class="pie  animated bounceIn"></div>
</div>
</div>
</div>