<div class="avoid_pagebreak">
<h4><%- public._data.resume.education.title %></h4>
<div class="edu_surround">
<div class="edu animated">
<div class="edu_item">
<div class="date"><%- public._data.resume.education.date %></div>
<div class="topic"><%- public._data.resume.education.topic %></div>
<div class="school"><%- public._data.resume.education.school %></div>
</div>
</div>
</div>
</div>