header#header
  h1
    img(alt='Stifix', src='images/favicon.png', title='Stifix', width='14px')
    |  Stifix
  nav
    ul
      li
        a(href='#intro') Intro
      li
        a(href='#who_we_are') Who We Are
      li
        a(href='#what_we_do') What We Do
      li
        a(href='#why_us') Why Us
      li
        a(href='#contact') Contact
