section#what_we_do.info.main.style2.dark.fullscreen.right(style='background-image:url(images/overlay.png),url(images/what_we_do.jpg );')
  .content.box.style2
    header
      h2 What We Do
    p
      | Our services and solutions includes Installation, Configuration, Upgrades, Support, Training, Monitoring, Maintenance, and Development. We deliver according to your request.
  a.button.style2.down.anchored(href='#why_us') Next
