section#why_us.info.main.style2.dark.fullscreen.left(style='background-image:url(images/overlay.png),url(images/why_us.jpg );')
  .content.box.style2
    header
      h2 Why Us
    p
      | Experienced in IT Industry for a long time and always up to date with the recent technology, and the most important thing, we care to you by solving your IT problems.
  a.button.style2.down.anchored(href='#footer') Next
