section#who_we_are.info.main.style2.dark.fullscreen.left(style='background-image:url(images/overlay.png),url(images/who_we_are.jpg );')
  .content.box.style2
    header
      h2 Who We Are
    p
      | We set out to giving IT services and solutions since 2000, start to those around us, and we keep growing and fruitful to help more people by solving their IT problems.
  a.button.style2.down.anchored(href='#what_we_do') Next
