.avoid_pagebreak
  h4 Experience
  .row.experience
    .large-6.medium-6.small-12.columns.end.animated.fadeIn
      .year 4
      .exp_data
        .date From 2013 to now
        .role IT Consultant
        .company Stifix
