#header
  .row
    .large-3.columns
      h2 Stifan Kristi
      h6.light IT Consultant
    .large-3.columns
      .row
        .small-4.columns.light2.italic
          b Address:
        .small-8.columns.border-left.light2
          ul.no-bullet
            li Kacang Polong 3 No 18
            li Jakarta
            li Indonesia
    .large-3.columns
      .row
        .small-4.columns.light2.italic
          b Contact:
        .small-8.columns.border-left.light2
          ul.no-bullet
            li
              i.fi-mail
                a(href='mailto:stifan.kristi@stifix.com') stifan.kristi@stifix.com
            li
              i.fi-mobile
                a(href='tel:+62818783118') +62818783118
            li
              i.fi-mobile
                a(href='tel:+6285888607267') +6285888607267
    .large-2.columns.text-right.italic.website
      ul.no-bullet
        li
          i.fi-web
            a(href='https://stifix.com')  stifix.com
