.avoid_pagebreak
  h4 Hobbies & Interests
  .row.interests
    .large-3.small-6.medium-3.columns.animated.fadeIn
      .int_icon
        i.fi-camera
        .activity Photography
    .large-3.small-6.medium-3.columns.animated.fadeIn
      .int_icon
        i.fi-mountains
        .activity Nature
    .large-3.small-6.medium-3.columns.animated.fadeIn
      .int_icon
        i.fi-book
        .activity Reading
    .large-3.small-6.medium-3.columns.animated.fadeIn
      .int_icon
        i.fi-music
        .activity Music
    .large-3.small-6.medium-3.columns.animated.fadeIn
      .int_icon
        i.fi-trees
        .activity Travelling
    .large-3.small-6.medium-3.columns.animated.fadeIn
      .int_icon
        i.fi-paw
        .activity Pets
    .large-3.small-6.medium-3.columns.animated.fadeIn
      .int_icon
        i.fi-die-six
        .activity Games
    .large-3.small-6.medium-3.columns.end.animated.fadeIn
      .int_icon
        i.fi-ticket
        .activity Theatre
