.avoid_pagebreak
  h4 Education
  .edu_surround
    .edu.animated
      .edu_item
        .date From 2002 to 2006
        .topic Computerized Accounting
        .school Bina Nusantara University, Indonesia
