head
  title Resume | Stifan Kristi
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='content-language', content='en')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(name='robots', content='all')
  meta(name='description', content='Stifix Company Profile Website')
  meta(name='keywords', content='Stifix, IT, IT Services, IT Solutions, IT Security, IT Monitoring, IT Development, IT Maintenance, IT Configuration, IT Support, IT Installation, IT Upgrade, IT Analyst, IT Development, IT Testing, System, System Services, System Solutions, Security System, Monitoring System, System Development, Maintenance System, Configuration System, System Support, Installation System, Upgrade System, System Analyst, System Development, Testing System, Linux, Unix, Windows, Virtualization, Cloud Computing, Mobile, Web Development')
  meta(name='author', content='Stifan Kristi')
  meta(name='google-site-verification', content='ibaNUNECBXNjZi_FDdbSRZv9nIhCdZsJQ6n27Qfv1Tk')
  meta(name='og:title', property='og:title', content='Stifix')
  meta(name='og:type', property='og:type', content='website')
  meta(name='og:site_name', property='og:site_name', content='Stifix')
  meta(name='og:description', property='og:description', content='Stifix Company Profile Website')
  meta(name='og:url', property='og:url', content='http://stifix.com')
  meta(name='og:image', property='og:image', content='http://stifix.com')
  meta(name='fb:app_id', property='fb:app_id', content='stifixid')
  meta(name='twitter:card', property='twitter:card', content='summary')
  meta(name='twitter:site', property='twitter:site', content='@stifixid')
  meta(name='twitter:title', property='twitter:title', content='Stifix')
  meta(name='twitter:description', property='twitter:description', content='Stifix Company Profile Website')
  meta(name='twitter:url', property='twitter:url', content='http://stifix.com')
  meta(name='twitter:image', property='twitter:image', content='http://stifix.com')
  link(rel='icon', type='image/png', href='../images/favicon.png')
  link(href='../css/resume-style.min.css', type='text/css', rel='stylesheet')
  link(href='../css/resume-print.min.css', rel='stylesheet', type='text/css', media='print')
