.avoid_pagebreak
  h4 Objective
  p
    | Aspire to contribute to solve the problem and make daily operational more effective, efficient, economic and sustainable, both individually and as part of a team
