.avoid_pagebreak
  h4 Language Skills
  .row.lang
    .large-4.medium-4.small-6.columns
      ul.pie_desc(data-pie-id='lang1', data-options='{"donut_inner_ratio":"0.8"}')
        li(data-value='100')
          .lang_info
            span.lang_name Indonesian
            span.lang_level Mother Language
      #lang1.pie.nostroke.animated.bounceIn
    .large-4.medium-4.small-6.columns
      ul.pie_desc(data-pie-id='lang2')
        li(data-value='75')
          .lang_info
            span.lang_name English
            span.lang_level Advanced Level
        li(data-value='25')
      #lang2.pie.animated.bounceIn
    .large-4.medium-4.small-6.columns
      ul.pie_desc(data-pie-id='lang3')
        li(data-value='50')
          .lang_info
            span.lang_name Japanese
            span.lang_level Basic Level
        li(data-value='50')
      #lang3.pie.animated.bounceIn
