{{extend 'layout.html'}}

{{=grid}}

<!-- modal auth_user -->
<div class="modal fade" id="modal_auth_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{=DIV(T('Auth User') ) }}</h4>
			</div>
			<div class="modal-body">
				{{=LOAD('master', 'modal_auth_user.load', ajax = True) }}
			</div>
		</div>
	</div>
</div>

<!-- modal bank -->
<div class="modal fade" id="modal_bank" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{=DIV(T('Bank') ) }}</h4>
			</div>
			<div class="modal-body">
				{{=LOAD('master', 'modal_bank.load', ajax = True) }}
			</div>
		</div>
	</div>
</div>

<!-- modal branch -->
<div class="modal fade" id="modal_branch" tabindex="-1" branch="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" branch="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{=DIV(T('Branch') ) }}</h4>
			</div>
			<div class="modal-body">
				{{=LOAD('master', 'modal_branch.load', ajax = True) }}
			</div>
		</div>
	</div>
</div>

<!-- modal department -->
<div class="modal fade" id="modal_department" tabindex="-1" department="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" department="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{=DIV(T('Department') ) }}</h4>
			</div>
			<div class="modal-body">
				{{=LOAD('master', 'modal_department.load', ajax = True) }}
			</div>
		</div>
	</div>
</div>

<!-- modal role -->
<div class="modal fade" id="modal_role" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{=DIV(T('Role') ) }}</h4>
			</div>
			<div class="modal-body">
				{{=LOAD('master', 'modal_role.load', ajax = True) }}
			</div>
		</div>
	</div>
</div>
