{% assign experience = site.data.resume.experience %}
<div class=avoid_pagebreak>
<h4>{{ .Site.Params.experience.title }}</h4>
<div class="row experience">
<div class="large-6 medium-6 small-12 columns end animated fadeIn">
<div class=year>
	{{ .Site.Params.experience.year }}
</div>
<div class=exp_data>
<div class=date>{{ .Site.Params.experience.date }}</div>
<div class=role>{{ .Site.Params.experience.role }}</div>
<div class=company>{{ .Site.Params.experience.company }}</div>
</div>
</div>
</div>
</div>