<div id=header>
	<div class=row>
		<div class="large-3 columns">
			<h2>{{ .Site.Params.resume_header.name }}</h2>
			<h6 class=light>{{ .Site.Params.resume_header.occupation }}</h6>
		</div>
		<div class="large-3 columns">
			<div class=row>
			<div class="small-4 columns light2 italic"><b>Address:</b></div>
				<div class="small-8 columns border-left light2 ">
					<ul class=no-bullet>
						<li>{{ .Site.Params.resume_header.address }}</li>
						<li>{{ .Site.Params.resume_header.city }}</li>
						<li>{{ .Site.Params.resume_header.country }}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="large-3 columns">
			<div class=row>
				<div class="small-4 columns light2 italic"><b>Contact:</b></div>
				<div class="small-8 columns border-left light2">
					<ul class=no-bullet>
						{{ range .Site.Params.resume_header_list_0 }}
						<li>
							<i class="{{ .icon }}">
								<a href="{{ .link }}">{{ .title }}</a>
							</i>
						</li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
		<div class="large-2 columns text-right italic website">
			<ul class=no-bullet>
				{{ range .Site.Params.resume_header_list_1 }}
				<li>
					<i class="{{ .icon }}">
						<a href="{{ .link }}">{{ .title }}</a>
					</i>
				</li>
				{{ end }}
			</ul>
		</div>
	</div>
</div>