<head>
<title>{{ .Site.Title }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="content-language" content="{{ .Site.Params.content_language }}">
<meta charset="{{ .Site.Params.charset }}">
<meta name="viewport" content="{{ .Site.Params.viewport }}">
<meta name="robots" content="{{ .Site.Params.robots }}">
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="keywords" content="{{ .Site.Params.keywords }}" />
<meta name="author" content="{{ .Site.Params.name }}">
<meta name="google-site-verification" content="{{ .Site.Params.google_site_verification }}">
<meta name="og:title" property="og:title" content="{{ .Site.Params.og_title }}" />
<meta name="og:type" property="og:type" content="{{ .Site.Params.og_type }}" />
<meta name="og:site_name" property="og:site_name" content="{{ .Site.Params.og_site_name }}" />
<meta name="og:description" property="og:description" content="{{ .Site.Params.og_description }}" />
<meta name="og:url" property="og:url" content="{{ .Site.Params.og_url }}" />
<meta name="og:image" property="og:image" content="{{ .Site.Params.og_image }}" />
<meta name="fb:app_id" property="fb:app_id" content="{{ .Site.Params.fb_app_id }}" />
<meta name="twitter:card" property="twitter:card" content="{{ .Site.Params.twitter_card }}" />
<meta name="twitter:site" property="twitter:site" content="{{ .Site.Params.twitter_site }}" />
<meta name="twitter:title" property="twitter:title" content="{{ .Site.Params.twitter_title }}" />
<meta name="twitter:description" property="twitter:description" content="{{ .Site.Params.twitter_description }}" />
<meta name="twitter:url" property="twitter:url" content="{{ .Site.Params.twitter_url }}" />
<meta name="twitter:image" property="twitter:image" content="{{ .Site.Params.twitter_image }}" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="css/big-picture.min.css" />
{{ "<!-- [if lte IE 8 ]]> <script src=" | safeHTML }}"{{ "js/ie/html5shiv.js\"></script><![endif] -->" | safeHTML }}
{{ "<!--[if lte IE 8]><link rel=\"stylesheet\" href=" | safeHTML }}"{{ "css/ie8.css\" /><![endif]-->" | safeHTML }}
{{ "<!--[if lte IE 8]><link rel=\"stylesheet\" href=" | safeHTML }}"{{ "css/ie9.css\" /><![endif]-->" | safeHTML }}
</head>