<!-- content -->
<section class="main style3 secondary">
	<div class="content container">
		<header>
			<h2>{{ .Title }}</h2>
		</header>
		<p>{{ .Content }}</p>
		{{ range .Site.Params.thanks_list }}
		<span class="fa-stack fa-3x">
			<i class="fa fa-circle-thin fa-stack-2x"></i>
			<i class="fa {{ .icon }} fa-stack-1x"></i>
		</span>
		{{ end }}
		<div class="12u">
			<ul class="actions">
				<li>
					<a href="/" class="button">{{ .Site.Params.thanks.buttontext }}</a>
				</li>
			</ul>
		</div>
	</div>
</section>