<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en"><![endif]-->
<html class=no-js lang="{{site.lang}}">
{% include resume-head.html %}
<body>
{% include resume-header.html %}
<div class="row main">
    <div class="large-6 columns">
        {% include resume-objective.html %}
        {% include resume-specialities.html %}
        {% include resume-computer_skills.html %}
        {% include resume-language_skills.html %}
    </div>        
    <div class="large-6 columns">
        {% include resume-recognitions.html %}
        {% include resume-experience.html %}
        {% include resume-education.html %}
        {% include resume-hobbies_interest.html %}

    </div>
</div>
{% include resume-footer.html %}
{% include resume-scripts.html %}
</body>
</html>